/*html {
    height: 100%;
    width: 100%;
  }
  

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #eee;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
  }
  
  nav a:hover {
    color: #333;
  }
  
  body {
    position: relative; /* Enable fixed positioning for the navigation bar 
  }
  
  nav {
    position: fixed; /* Fix the navigation bar to the top 
    top: 0;
    left: 0;
    width: 100%; /* Make it span the entire width 
  }
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .intro img {
    width: 100%;
    justify-content: space-evenly;
    margin-right: 20px;
  }
  
  .intro p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
  .benefits {
    text-align: center;
  }
  
  .benefits h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .benefits ul {
    
    list-style-type: square;
    text-align-last: left;
    padding: 0;
    margin: 0;
  }
  
  .benefits li {
    margin-bottom: 5px;
  }
  
  .call-to-action {
    text-align: center;
  }
  
  .call-to-action h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
  }
   */
